@import url('https://fonts.googleapis.com/css?family=Sofia');
/*fonte oficial dos titulos*/
@Colorfont: #3A59A9;

html, 
body { 
	height: 100%;
	background-image: url("../images/fundosite.jpg");
}

body {
	position: relative;
	overflow-x: hidden;
}

.container.one,{
	width: 70%;
	background-color: #FFFFFF;
	margin-top: 5%;
	padding: 5%;
}

.row.sobrenos{
	background-image: url(../images/cozinha3.png);
	background-size: 100%;
	background-repeat: no-repeat;
/*	background-attachment: fixed;*/
	height: 75%;
	padding-top: 25%;
	padding-bottom: 1%;
}

#saibaMais{
	width: 40%;
	height: 40%;
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 2%;
	margin-bottom: 2%;
	padding: 1%;
}

button.saiba{
	background-color: lighten(@Colorfont, 10%); 
	border:@Colorfont;
	color: rgb(255, 255, 255);
	border-radius: 2%;
	margin-left: 35%;

}
p.saiba-letra {
	font-family: 'Sofia', cursive;
	color:@Colorfont;
	font-size: 200%;
	font-weight: bold;
	line-height: 30px;	
}
.destaque{
	font-family: 'Sofia', cursive;
	color: #EE6E73;
	text-align: center;
	margin-top: 3%;
}
.title{
	font-size: 250%;
}

.footerprincipal{
	font-size: 100%;
	color: #5b352c;
}
.container.two{
	width: 70%;
	background-color: #F3BDC7;
	margin-top: 0%;

}
.ladodireito{
	text-align: right;	
	padding-top: 2%;

}
.ladoesquerdo{
	text-align: left;
	padding-top: 2%;
}

h2{
	font-size: 112%;
	font-weight: bold;
	line-height: 40%;
}
.nomeprincipal{
	font-size: 50%;
}
.grid {
	position: relative;
	clear: both;
	margin: 0 auto;
	padding: 0em 0 0em;
	max-width: 1000px;
	list-style: none;
	text-align: center;
}

/* Common style */
.grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 10px 1%;
	min-width: 243px;
	max-width: 315px;
	max-height: 181px;
	width: 48%;
	height: auto;
	background: #3085a3;
	text-align: center;
	cursor: pointer;
}

.grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
}

.grid figure figcaption {
	padding: 2em;
	color: #011023;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	font-size: 50%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 50%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
	margin-top: 3%;
}

.grid figure h2 {
	font-weight: 300;
	font-size: 60%;
}

.grid figure h2 span {
	font-weight: 800;
}

.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}
figure.effect-kira {
	background: #fff;
	text-align: left;
}

figure.effect-kira img {
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}

figure.effect-kira figcaption {
	z-index: 1;
}

figure.effect-kira p {
	padding: 0 0.5em;
	font-weight: 600;	
	font-size: 100%;
	line-height: 1.5;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,-10px,0);
	transform: translate3d(0,-10px,0);
}

figure.effect-kira p a {
	margin: 0;
	color: #101010;
}

figure.effect-kira p a:hover,
figure.effect-kira p a:focus {
	opacity: 0.6;
}

figure.effect-kira figcaption::before {
	position: absolute;
	top: -64px;
	right: 2em;
	left: 2em;
	z-index: -1;
	height: 2.5em;
	background: #fff;
	content: '';
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,4em,0) scale3d(1,0.023,1) ;
	transform: translate3d(0,4em,0) scale3d(1,0.023,1);
	-webkit-transform-origin: 50% 0;
	transform-origin: 50% 0;
}

figure.effect-kira:hover img {
	opacity: 0.5;
}

figure.effect-kira:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-kira:hover figcaption::before {
	opacity: 0.7;
	-webkit-transform: translate3d(0,5em,0) scale3d(1,1,1) ;
	transform: translate3d(0,5em,0) scale3d(1,1,1);
}
