@import url('https://fonts.googleapis.com/css?family=Gudea');

html, 
body { 
	height: 100%;
	background-image: url("../images/fundosite.jpg");
}

body {
	position: relative;
	overflow-x: hidden;
}

.container.one,{
	width: 70%;
	background-color: #FFFFFF;
	margin-top: 5%;
	padding: 5%;
}
.row.sobrenos{
	background-image: url(../images/cozinha3.png);
	background-size: 100%;
	background-repeat: no-repeat;
	height: 75%;
	padding-top: 25%;
	padding-bottom: 35%;
}
.titulo{
	font-size: 200%;
	color: #734431;
	font-weight: bold;
	font-family: 'Sofia', cursive;
	margin-top: 5%;
	margin-bottom: 5%;

}
.textosaiba{
	width: 100%;
	text-align: center;
	font-family: 'Gudea', sans-serif;
	margin-right: 2%;
}
.footerprincipal h2{
	font-size: 100%;
	line-height: 5px;
	color: #5b352c;
	font-weight: bold;
}
.container.two{
	width: 70%;
	background-color: #F3BDC7;
	margin-top: 0%;

}
.ladodireito{
	text-align: right;	
	padding-top: 2%;

}
.ladoesquerdo{
	text-align: left;
	padding-top: 2%;
}
.fundosaiba{
	background-image: url(../images/cozinha2.jpg);
	height: 100%;
	padding-bottom: 66%;
}