			.container
			#carousel.carousel.slide.carousel-fade(data-ride="carousel")
				ol.carousel-indicators
					li(data-target="#carousel" data-slide-to="0" class="active")
					li(data-target="#carousel" data-slide-to="1")
					li(data-target="#carousel" data-slide-to="2")
				.carousel-inner.carousel-zoom
					.active.item
						img.img-responsive(src="../images/cozinha3.png")
						.carousel-caption
							h2p.saiba-letra Faça uma pausa... 
							p.saiba-letra Conheça Sweet Feelings
							a(href='http://localhost:5000/saibamais').saiba Saiba Mais
					.active.item
						img.img-responsive(src="../images/cozinha4.jpg")
						.carousel-caption
							h2p.saiba-letra Faça uma pausa... 
							p.saiba-letra Conheça Sweet Feelings
							a(href='http://localhost:5000/saibamais').saiba Saiba Mais
					.active.item
						img.img-responsive(src="../images/cozinha5.jpg")
						.carousel-caption
							h2p.saiba-letra Faça uma pausa... 
							p.saiba-letra Conheça Sweet Feelings
							a(href='http://localhost:5000/saibamais').saiba Saiba Mais

				ul.social-network.social-circle
					li
						a(href="#" class="icoRss" title="Rss") 
							i.fa.fa-rss.Icon.fa-3x
					li
						a(href="#" class="icoRss" title="Rss") 
							i.fa.fa-facebook.Icon.fa-3x
					li
						a(href="#" class="icoRss" title="Rss") 
							i.fa.fa-twitter.Icon.fa-3x
					li
						a(href="#" class="icoRss" title="Rss") 
							i.fa.fa-google-plus.Icon.fa-3x
					http://bootsnipp.com/snippets/featured/spinning-social-icons

http://bootsnipp.com/snippets/featured/carousel-with-gallery-thumbs