doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
		link(rel='stylesheet', href='/stylesheets/style-catalogo.css')
		link(rel='stylesheet', href='/stylesheets/style-menu.css')
		link(rel='stylesheet', href='/stylesheets/style-navbar.css')
		script(src='/javascripts/jquery.min.js')
		script(src='/javascripts/bootstrap.min.js')
		script(src='/javascripts/script.js')
	body
		include navbar
		include menu
		include index-catalogo