doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
		link(rel='stylesheet', href='/stylesheets/materialize.min.css')
		link(rel='stylesheet', href='/stylesheets/style-produtoclicado.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='/javascripts/jquery.min.js')
		script(src='/javascripts/bootstrap.min.js')
		script(src='/javascripts/script.js')
	body
		include includes/layouts/navbar
		include includes/layouts/menu
		.container.catalogo
			.row
				.col-md-12
					table.table.table-responsive.table-hover
						thead
							tr#informe
								th Imagem
								th Codigo do produto
								th Nome 
								th Descrição
								th Peso da unidade
								th Valor unitário
								th Quantidade
								th Desfavoritar
						tbody#favorites
						tfooter
							tr
								th teste
												