extends layout

block content
	.container 
		.row.sobrenos
			.col-md-12
				#saibaMais
					p.saiba-letra Faça uma pausa... 
					p.saiba-letra Conheça Sweet Feelings
					button(href='http://localhost:5000/').saiba Saiba Mais
		.row
			.col-md-12
				.destaque
					span Destaques
						.produtosdestaques
							- for (var x = 0; x < data.length; x++)
								if data[x].categoria == "Boloformato"
									.col-md-3
										.moldura
											img(src= "../images/boloformato/"+data[x].imag+".jpg")
											//- p= data[x].nome
											h5= "R$ "+data[x].preço
								
						