extends layout

block content
	.container 
		.row.sobrenos
			.col-md-12
				#saibaMais
					p.saiba-letra Faça uma pausa... 
					p.saiba-letra Conheça Sweet Feelings
					button.saiba Saiba Mais
		.row
			.col-md-12
				.destaque
					span Destaques
				.row
					.col-md-4
						.moldura
							img(src= "../images/boloformato/bolofoto.jpg" alt="bolofoto")
					.col-md-4
						.moldura
							img(src= "../images/boloformato/bolominie.jpg" alt="bolominie")
					.col-md-4
						.moldura
							img(src= "../images/boloformato/bolowhisky.jpg" alt="bolowhisky")