extends catalogo

block content
	.container.catalogo
		.row
			.col-md-12
				.row
					#bolo.col-md-2.filtros
						img.imgfiltros(src="../images/iconbolo.png")
						p Bolos
					#boloformato.col-md-2.filtros
						img.imgfiltros(src="../images/iconboloformato.png")
						p Bolos com Formatos 
					#cupcake.col-md-2.filtros
						img.imgfiltros(src="../images/iconcupcake.png")
						p Cupcakes 					
					#doces.col-md-2.filtros
						img.imgfiltros(src="../images/icondoces.png")
						p Docinhos						
					#torta.col-md-2.filtros
						img.imgfiltros(src="../images/icontorta.png")
						p Torta
			.col-md-12
				.row.titulo
					h1  Catalogo de Produtos:
				#tabela.row
