extends layout

block content
	nav#sidebar-wrapper.navbar.navbar-inverse.navbar-fixed-top
		ul.nav.sidebar-nav
			li.sidebar.brand
				a(href='#') Funny Fellings
				li.active
					a(href='#') História
				li
					a(href='#') Contato
				li
					a(href='#') Produtos