extends layout

block content
	img.logo(src= "../images/logo.png" alt="logo")
	.container 
		.row
			.col-md-12
				#saibaMais
					p.saiba-letra Faça uma pausa... 
					p.saiba-letra Conheça Sweet Feelings
					button.saiba Saiba Mais