extends layout

block content

	.container.one 
		.row.conheca
			.col-md-12
				#saibaMais
					p.saiba-letra Faça uma pausa... 
					p.saiba-letra Conheça Sweet Feelings
					a(href='http://localhost:5000/saibamais').saiba Saiba Mais
		.row.produtos
			.col-md-12
				.destaque
					span.titledestaque Destaques
						.produtosdestaques
							- for (var x = 0; x < data.produtos.length; x++)
								if data.produtos[x].categoria == "Boloformato"
									.col-md-4.efeitodestaque
										h3.nomeprincipal=data.produtos[x].nome
										div.grid
											figure.fotodestaque.effect-kira
												img.images(src= "../images/"+data.produtos[x].imag+".jpg" alt=""+data.produtos[x].nome)
												figcaption.efeitofig
													p.iconesimag
														a.inicial(href="https://www.facebook.com/")
															i.fa.fa-fw.fa-thumbs-o-up(data-toggle="tooltip"  data-placement="bottom" title="Gostou? Curte aí!")
														a.inicial(href="http://localhost:5000/catalogo")
															i.fa.fa-external-link-square(data-toggle="tooltip"  data-placement="bottom" title="Vamos ao catalogo?")
	include includes/layouts/footer


	

