extends catalogo

block content
	.container
		.row
			.col-md-4
				.mapa
					a(href='http://localhost:5000/') Home 
				p.caminho / Catalogo
				.filtros
					.row.pergunta
						h3 O que você deseja ver? 
						h3 Clique para encontrar...
					.row
						.col-md-4
							img(src="../images/iconbolo.png")
						.col-md-5
							p#bolo Bolos 
					.row
						.col-md-4
							img(src="../images/iconboloformato.png")
						.col-md-6
							p#boloformato Bolos com Formatos 
					.row
						.col-md-4
							img(src="../images/iconcupcake.png")
						.col-md-5
							p#cupcake Cupcakes 					
					.row
						.col-md-4
							img(src="../images/icondoces.png")
						.col-md-5
							p#doces Docinhos						
					.row
						.col-md-4
							img(src="../images/icontorta.png")
						.col-md-5
							p#torta Torta 
			.col-md-7
				.row.titulo
					.col-md-12
						H1  Catalogo de Produtos
				#tabela.row