extends layout

block content
	.container.one 
		.row.sobrenos
			.col-md-12
				#saibaMais
					p.saiba-letra Faça uma pausa... 
					p.saiba-letra Conheça Sweet Feelings
					a(href='http://localhost:5000/saibamais').saiba Saiba Mais
		.row.produtos
			.col-md-12
				.destaque
					span.title Destaques
						.produtosdestaques
							- for (var x = 0; x < data.length; x++)
								if data[x].categoria == "Boloformato"
									.col-md-4
										h3.nomeprincipal=data[x].nome
										div.grid
											figure.effect-kira
												img(src= "../images/"+data[x].imag+".jpg" alt=""+data[x].nome)
												figcaption
													p
														a(href="https://www.facebook.com/")
															i.fa.fa-fw.fa-thumbs-o-up(data-toggle="tooltip"  data-placement="bottom" title="Gostou? Curte aí!")
														a(href="http://localhost:5000/catalogo")
															i.fa.fa-external-link-square(data-toggle="tooltip"  data-placement="bottom" title="Vamos ao catalogo?")


	

