#wrapper
	.overlay
	nav#sidebar-wrapper.navbar.navbar-inverse.navbar-fixed-top (role="navegation")
		ul.nav.sidebar-nav
			li.sidebar-brand
				a(href='#') Sweet Feellings
				li.active
					a(href='#', id="linkmenu2") História
				li
					a(href='#', id="linkmenu3") Contato
				li
					a(href='#', id="linkmenu4") Produtos
				li
					a(href='#', id="linkmenu5") Promoções
				li
					a(href='#', id="linkmenu6") Carrinho
	#page-content-wrapper
		#nav-icon1.hamburger.is-closed(data-toggle="offcanvas") 
			span.hamb-top
			span.hamb-middle
			span.hamb-bottom

