div#wrapper
	div.overlay
	nav#sidebar-wrapper.navbar.navbar-inverse.navbar-fixed-top (role='navegation")
		ul.nav.sidebar-nav
			li.sidebar-brand
				a(href='#') Funny Fellings
				li.active
					a(href='#') História
				li
					a(href='#') Contato
				li
					a(href='#') Produtos
				li
					a(href='#') Promoções
				li
					a(href='#') Carrinho
	div#page-content-wrapper
		i#i.fa.fa-align-justify.Icon.hamburguer.is-closed(data-toggle="offcanvas") 
