#navbar
	.navbar-fixed-top
		img.logo(src= "../images/logocomnome.png" alt="logo")
		i#search.fa.fa-search.Icon.fa-2x(href="http://localhost:5000/encomendas")
		input(type="text" class="form-control search" placeholder="Procurar" id="text-search")
		i.fa.fa-shopping-cart.Icon.fa-3x
			.contagem
		.resultssearch
			#filter-records

	
