doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
		link(rel='stylesheet', href='/stylesheets/materialize.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='/javascripts/jquery.min.js')
		script(type='text/javascript', src='/javascripts/maskMoney.js')
		script(src='/javascripts/bootstrap.min.js')
		script(src='/javascripts/script.js')
	body
		include includes/layouts/navbar
		include includes/layouts/menu
		.container.one
			.row
				.col-md-12 
					h2.titleproduct=produto.nome
			.row
				.col-md-6
					.figureproduct
						img.productselect(src= "../images/"+produto.imag+".jpg" alt=""+produto.nome)
				.col-md-6.descript
					h3=produto.valor
					.row
						.col-md-4
							i.fa.fa-credit-card.fa-x3(aria-hidden='true')


