@import url('https://fonts.googleapis.com/css?family=Sofia');
/*fonte oficial dos titulos*/
html,
body {
  height: 100%;
  background-image: url("../images/fundosite.jpg");
}
body {
  position: relative;
  overflow-x: hidden;
}
.container {
  width: 70%;
  height: 100%;
  background-color: #FFFFFF;
  margin-top: 5%;
  padding: 5%;
}
.row.sobrenos {
  background-image: url(../images/cozinha3.png);
  background-size: 100%;
  background-repeat: no-repeat;
  /*	background-attachment: fixed;*/
  height: 75%;
  padding-top: 25%;
  padding-bottom: 1%;
}
#saibaMais {
  width: 40%;
  height: 40%;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 2%;
  margin-bottom: 2%;
  padding: 1%;
}
button.saiba {
  background-color: #5272c4;
  border: #3A59A9;
  color: #ffffff;
  border-radius: 2%;
  margin-left: 35%;
}
p.saiba-letra {
  font-family: 'Sofia', cursive;
  color: #3A59A9;
  font-size: 200%;
  font-weight: bold;
  line-height: 30px;
}
.destaque {
  font-family: 'Sofia', cursive;
  color: #E22E3D;
  font-size: 200%;
  text-align: center;
  margin-top: 2%;
}
.moldura {
  height: 50%;
  width: 50%;
}
img {
  width: 219%;
  height: 200px;
}
