@import url('https://fonts.googleapis.com/css?family=Sofia');
/*fonte oficial dos titulos*/
body {
  position: relative;
  overflow-x: hidden;
}
body,
html {
  height: 100%;
  background-image: url("../images/fundosite.jpg");
}
