.container.two
	.row
		.col-md-12
			.footerprincipal
				.col-md-5.ladodireito
					h2.dados Você encontra Sweet Fellings 
					h2.dados Av. Bom Jardim , 45
					h2.dados Bairro Cidade Nova - Ivoti/RS
					h2.dados (51) 3561-6063
					
				.col-md-2
					img(src="../images/cupcakes.png")
				.col-md-5.ladoesquerdo
					h2.dados Marque sua visita e venha nos conhecer!
					h2.dados contato@sweetfelling.com.br
					h2.dados
					Copyright 2017 © Sweet Fellings.
