.container.two
	.row
		.col-md-12
			.footerprincipal
				.col-md-5.ladodireito
					h2 Você encontra Sweet Fellings 
					h2 Av. Bom Jardim , 45
					h2 Bairro Cidade Nova - Ivoti/RS
					h2 (51) 3561-6063
					
				.col-md-2
					img(src="../images/cupcakes.png")
				.col-md-5.ladoesquerdo
					h2 Marque sua visita e venha nos conhecer!
					h2 contato@sweetfelling.com.br
					h2
					Copyright 2017 © Sweet Fellings.
