#navbar
	.navbar
		img.logo(src= "../images/logocomnome.png" alt="logo")
		i#search.fa.fa-search.Icon.fa-2x(href="http://localhost:5000/encomendas")
		input(type="text" class="form-control search" placeholder="Procurar" id="text-search")
		a(href="http://localhost:5000/favoritos")
			i#core.fa.fa-heart.Icon.fa-2x(data-toggle="tooltip" data-placement="bottom" title="Clique e veja os itens favoritos!")
				.contagem
.resultssearch
	#filter-records


